* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-size: 18px;
  color: #555555;
  background-color: #FAFAFA;
  /*background-color: #4682B4; */
}

h1, h2, h3, h4, h5, h6 {
  padding: 1rem 6% 0 6%;
}


  p {
    font-family: 'Lora';
    line-height: 1.75;
    padding: 0 6% 2rem 6%;

  }

  p .flower {
font-style: italic;
  }



p:before {
  content: "";
  width: 15rem;
  display: block;
  overflow: hidden;
}

textarea, input {
  border: 1px solid #555555;
  line-height: 1.5rem;
}

textarea {
  width: 100%;
  padding: 0.25em 0;
}

input[type=text], [type=email] {
  width: 100%;
  padding: 0.25em 0 ;
}

h1 {
  font-family: "Lato";
  font-weight: 700;
  font-size: 3rem;
  padding-bottom: 0.5em;
}

h2 {
  font-family: "Lato";
  font-weight: 700;
  font-size: 1.5rem;
}


h3 {
  font-family: "Lato";
  font-weight: 700;
  font-size: 1.25rem;
}

h4 {
  font-family: "Lato";
  font-weight: 700;
  font-size: 1.5rem;
}

h5 {
  font-family: "Lato";
  font-weight: 500;
  font-size: 1.25rem;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #555555;
  font-weight: 500;
  color: #5a8fcc;
  font-weight: bold;
}

i[class^="fa fa"] {
  font-size: 1.5rem;
  padding: 0;
} 

.btn {
  color: #ffffff;
  background-color: #5a8fcc;
  padding: 8px 20px 8px 20px;
  text-decoration: none;
}

#resume-pdf {
color: #5c51ed;
background-color: #ffffff;
border: 2px solid #5c51ed;
}

#resume-pdf:hover {
color: #ffffff;
background-color: #5c51ed;
border: 2px solid #5c51ed;
}

#resume-docx {
color: #c6726a;
background-color: #ffffff;
border: 2px solid #c6726a;
}

#resume-docx:hover {
color: #ffffff;
background-color: #c6726a;
border: 2px solid #c6726a;
}

#resume-linkedin {
color: #7a872e;
background-color: #ffffff;
border: 2px solid #7a872e;
}

#resume-linkedin:hover {
  color: #ffffff;
background-color: #7a872e;
border: 2px solid #7a872e;
}

#btn-view-my-resume {
  color: #ffffff;
  border: 0;
  background-color: #5c51ed;
  font-weight: 400;
  letter-spacing: 0.1em;
  padding: 10px 20px 10px 20px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

#btn-view-my-resume:hover {
  color: #ffffff;
  background-color: #ed8c51;
  padding: 10px 20px 10px 20px;
}


.btn:hover {
  background-color: #5a8fcc;
  color: #ffffff;
  /*text-decoration: underline; */
}

/*
div.column-block {
}
*/

.header-wrapper {
  background-color: #ffffff;
  border-bottom: 1px solid #cccccc;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1;
}   

header {
  max-width: 960px;
  margin: 0 auto;
  padding: 0.5rem 0 0.25em 0;
}   

header a { 
  text-decoration: none;
  font-weight: 500;
  color: #555555;
  float: none;
}   

.fa.fa-bars {
  font-size: 2.5rem;
}

nav {
  display: none;
  padding: 0 0 0 6%;
}

header ul {
  list-style-type: none;
  font-size: 1rem;
  font-family: 'Lato';
  clear: both;
  display: inline;
  float: left;
}   
header ul li {
  text-align: center; 
  clear: both;
  display: block;
  float: left;
  padding: 0.5rem 0 0.5rem 0;
}
header ul li:hover {
  text-decoration: underline;
}
header i {
  padding: 0 0.25rem 0 0;
}

#logo {
  padding-top: 0.15em;

}

nav a {
  font-size: 1.25em;
}

.btn-break {
  padding: 0;
  line-height: 0;
  display: none;
}

#hamburger {
  display: inline; 
  float: left;
  padding: 0 1rem 0 6%;
} 

.social-media-button {
  text-decoration: none;
  color: #555555;

}

main {
  max-width: 960px;
  height: 100%;
  margin: 0 auto;
  background-color: #FAFAFA;
  font-family: 'Lato';
  font-weight: 400;
  color: #555555;
  line-height: 1.5rem;
}

#welcome {
  color: #ffffff;
  background-image: url('../img/hipster-bsod.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

article {
  margin: 5em auto;
}

/*
article {
  font-family: 'Lora';
  text-align: left;
}
*/

article a {
  text-decoration: underline;
}

.post-figure {
  padding: 0.5rem 2em 0 6%;
}

figcaption {
  font-weight: bold;
  text-align: center;

}

#welcome h1 {
  font-family: "Lato";
  font-weight: 900;
  font-size: 7rem;
  letter-spacing: 0.25rem;
  margin: 20% auto 0 auto;
  padding: 0 0 0.5em 0;
  text-align: center;
}

#welcome p {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  max-width: 800px;
  padding: 0 0 1rem 0;
  font-size: 2em;
  font-family: 'Lato';
  font-weight: 700;
  line-height: 1.5em;

}

.post-centered {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.project-wrapper {
display: block;
margin: 10% auto;
}

.project-element {
  max-width: 100%;
  background-color: #ffffff;
  overflow: hidden;
  border: 1px solid #cccccc;
  margin: 0 0 2em 0;
}

.project-youtube {
  max-width: 100%;
  border: 1px solid #cccccc;
  margin: 1em 2em 2em 6%;
}

.project-list {
  font-family: 'Lora';
  line-height: 1.75;
  padding: 0 6% 2rem 6%;
}

.project-img {
  max-width: 100%;
  border: 1px solid #cccccc;
  margin: 1em 2em 2em 6%;
  float: left;
}

.project-element h2 {
padding-top: 2em;
}

#project-btn {
  display: block;
margin: 0 auto 1em auto;
}

.project-element p {
  padding-top: 1em;
}

#resume-wrapper {
  background-color: #FFFFFF;
  border: 1px solid #cccccc;
  font-family: 'Lora';
  width: 100%;
  padding-bottom: 3em;
}

#resume-wrapper ul li {
  line-height: 1.5em;
}

#resume-wrapper p {
  padding: 0;
}

/*
#resume-wrapper-name {
  padding-top: 1em;
}
*/

#resume-wrapper h3 {
  font-family: 'Lato';
  font-size: 2rem;
  font-weight: 700;
  color: #5a8fcc;
  padding: 0;
}

#resume-contact {
  color: #5a8fcc;
  font-size: 1rem;
  font-family: 'Lato';
  font-weight: 300;
  padding: 1rem 0 0 0;
}

#resume-contact a {
  color: #5a8fcc;
  text-decoration: none;
}

#resume-contact a:hover {
  text-decoration: underline;

}
#resume-wrapper h4 {
  font-family: 'Lato';
  font-size: 1.5rem;
  font-weight: 700;
  color: #5a8fcc;
  padding: 2em 0 0.5em 0;
}

#resume-deck {
  font-family: 'Lato';
  font-size: 1rem;
  color: #5a8fcc;
}

#resume-header {
  padding: 0 6% 0 6%;
}

#resume-objective {
  padding: 0 6% 0 6%;
}
#resume-body {
  column-width: 300px;
  column-gap: 8ch;
  column-count: 2;
  padding: 0 6% 0 6%;
}

#resume-body ul {
padding-bottom: 1.5em;
}

#resume-body ul li {
  padding: 0.5rem 0 0.5rem 0;
}

#resume-skills {
  text-align: justify;
  text-justify: distribute;
}

#resume-button-wrapper {
  text-align: left;
  padding: 0 0 1em 6%;
}

#contact p {
font-family: 'Lato';
}

.form-contact {
  font-size: 1rem;
  padding: 0 6% 0 6%;
}

.left {
  float: left;
}

.right {
  float: right;
}

@media screen and (min-width: 740px) {



  #hamburger {
    display: none; 
  } 

  #logo {
    padding: 0.15em 0 0 6%;
  }

  nav {
    display: inline !important;
    padding: 0 6% 0 0;
  }
  header ul {
    display: inline;
    clear: none;
    float: right;
  }
  header ul li {
    clear: none;
    display: inline;
    float: right;
    padding: 0 0 0 1.5rem;
  }

  nav a {
    font-size: 1em;
  }
  .btn-break {
    display: block;
  }
  i[class^="fa fa"] {
    font-size: 1.25rem;
    padding: 0;
  } 


.welcome-headline {
  font-size: 7rem;
}

.welcome-deck p {
  font-size: 2em;
  line-height: 1.5em;
}

  #resume-button-wrapper {
    text-align: right;
    padding: 0 6% 0 0;

  }

article {
  text-align: justified;
}


}

