/* reset rule */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}


@font-face {
  font-family: 'Lora';
  src: url('../assets/fonts/lora/lora-regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lora';
  src: url('../assets/fonts/lora/lora-italic.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lora';
  src: url('../assets/fonts/lora/lora-700.ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Lora';
  src: url('../assets/fonts/lora/lora-700italic.ttf');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/lato/lato-regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/lato/lato-italic.ttf');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/lato/lato-700.ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/lato/lato-700italic.ttf');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/lato/lato-900.ttf');
  font-weight: 900;
}
@font-face {
  font-family: 'Lato';
  src: url('../assets/fonts/lato/lato-900italic.ttf');
  font-weight: 900;
  font-style: italic;
}


html {
  min-height: 100%;
}

body {
  min-height: 100%;
  font-size: 18px;
  color: #555555;
  background-color: #FAFAFA;
}

h1, h2, h3, h4, h5, h6 {
  padding: 1rem 6% 0 6%;
}

p {
  line-height: 1.5em;
  padding: 0 6% 2rem 6%;
}

p .flower {
  font-style: italic;
}

ul li {
  line-height: 1.5em;
}

/*
p:before {
content: '';
width: 15rem;
display: block;
overflow: hidden;
}
 */

textarea, input[type=text], [type=email] {
  border: 1px solid #555555;
  line-height: 1.5rem;
  padding: 0.25em 0 0.25em 0.25em;
  /* omission of right padding is intentional */
  width: 100%;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  padding-bottom: 0.5em;
}

h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}


h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
}

h4 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

h5 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #555555;
  font-weight: 700;
  color: #5a8fcc;
  font-weight: 700;
}

i[class^='fa fa'] {
  font-size: 1.5rem;
  padding: 0;
} 

.btn {
  color: #ffffff;
  background-color: #5a8fcc;
  padding: 8px 20px 8px 20px;
  text-decoration: none;
  -webkit-appearance: none; /* disables iOS button styling */
}

#about {
  font-family: 'Lora', 'Georgia', serif;
}


#projects {
  font-family: 'Lora', 'Georgia', serif;
}


#resume-pdf {
  color: #5c51ed;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: #ffffff;
  border: 2px solid #5c51ed;
  -webkit-appearance: none; /* disables iOS button styling */
}

#resume-pdf:hover {
  color: #ffffff;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: #5c51ed;
  border: 2px solid #5c51ed;
}

#resume-docx {
  color: #c6726a;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: #ffffff;
  border: 2px solid #c6726a;
  -webkit-appearance: none; /* disables iOS button styling */
}

#resume-docx:hover {
  color: #ffffff;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: #c6726a;
  border: 2px solid #c6726a;
}

#resume-linkedin {
  color: #7a872e;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: #ffffff;
  border: 2px solid #7a872e;
  -webkit-appearance: none; /* disables iOS button styling */
}

#resume-linkedin:hover {
  color: #ffffff;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: #7a872e;
  border: 2px solid #7a872e;
}

#resume-git {
  color: #993399;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: #ffffff;
  border: 2px solid #993399;
  -webkit-appearance: none; /* disables iOS button styling */
}

#resume-git:hover {
  color: #ffffff;
  padding-left: 0.5em;
  padding-right: 0.5em;
  background-color: #993399;
  border: 2px solid #993399;
}


#btn-view-my-projects {
  color: #ffffff;
  font-size: 1.25em;
  border: 0;
  background-color: #5c51ed;
  letter-spacing: 0.1em;
  padding: 15px 25px 15px 25px;
  display: block;
  margin: auto;
  text-align: center;
  box-shadow: 1px 1px 3px #000000;
  -webkit-appearance: none; /* disables iOS button styling */
}

#btn-view-my-projects:hover {
  color: #ffffff;
  background-color: #ed8c51;
  padding: 15px 25px 15px 25px;
}


.btn:hover {
  background-color: #5a8fcc;
  color: #ffffff;
}

.header-wrapper {
  background-color: #ffffff;
  border-bottom: 1px solid #cccccc;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1;
}   

header {
  max-width: 960px;
  margin: 0 auto;
  padding: 0.5rem 0 0.25em 0;
}   

header a { 
  text-decoration: none;
  font-weight: normal;
  color: #555555;
  float: none;
}   

.fa.fa-bars {
  font-size: 2.5rem;
}

nav {
  display: none;
  padding: 0 0 0 6%;
}

header ul {
  list-style-type: none;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  clear: both;
  display: inline;
  float: left;
}   
header ul li {
  text-align: center; 
  clear: both;
  display: block;
  float: left;
  padding: 0.5rem 0 0.5rem 0;
  line-height: 1em;
}

/* hover is on li instead of a to avoid
 * underlining icon */
header ul li:hover {
  text-decoration: underline;
}
header i {
  padding: 0 0.25rem 0 0;
}

#logo {
  padding-top: 0.15em;

}

nav a {
  font-size: 1.25em;
}

.btn-break {
  padding: 0;
  line-height: 0;
  display: none;
}

#hamburger {
  display: inline; 
  float: left;
  padding: 0 1rem 0 6%;
} 

.social-media-button {
  text-decoration: none;
  color: #555555;

}

main {
  max-width: 960px;
  min-height: 100%;
  margin: 0 auto;
  background-color: #FAFAFA;
  font-family: 'Lato', sans-serif;
  color: #555555;
}

footer {
  background-color: #ffffff;
  border-top: 1px solid #cccccc;
  position: fixed;
  width: 100%;
  z-index: 1;
  bottom: 0;
  font-family: 'Lato', sans-serif;
  color: #555555;
}

#footer-content {
  width: 960px;
  margin: 0 auto;
  padding: 0 6%;
}

footer p {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

#welcome {
  max-width: 100%;
  height: 100vh;
  color: #ffffff;
  background-image: url('../img/hipster-bsod.jpg');
  background-color: #B0C4DE;
  background-size: cover;
}

article {
  margin: 5em auto;
}

article a {
  text-decoration: underline;
}

.post-figure {
  padding: 0.5rem 2em 0 6%;
}

figcaption {
  font-weight: 700;
  text-align: center;
}


#welcome h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 4rem;
  margin: 0 auto;
  padding: 15% 0 0 0;
  text-align: center;
  max-width: 400px;
 /* text-shadow: 1px 1px 5px #000000; */

}

#welcome p {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 1.25em;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  max-width: 400px;
  /* text-shadow: 1px 1px 3px #000000; */
}

.post-centered {
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.project-wrapper {
  display: block;
  margin: 10% auto;
}

.project-element {
  max-width: 100%;
  background-color: #ffffff;
  overflow: hidden;
  border: 1px solid #cccccc;
  margin: 0 0 2em 0;
}

.project-youtube {
  max-width: 100%;
  border: 1px solid #cccccc;
  margin: 1em 2em 2em 6%;
}

.project-list {
  font-family: 'Lora', 'Georgia', serif;
  padding: 0 6% 2rem 6%;
}

.project-img {
  max-width: 100%;
  border: 1px solid #cccccc;
  margin: 1em 2em 2em 6%;
  float: left;
}

.project-element h2 {
  padding-top: 2em;
}

#project-btn-wrapper {
  margin: auto;
  text-align: center;
}

#project-btn {
  display: block;
  margin: 0 auto 1em auto;
}

#project-exe-btn {
  display: block;
  margin: 0 auto 1em auto;
  background-color: #c6726a;
}

#project-btn-ttt {
  display: inline;
  margin: 0 auto 1em auto;
}

#project-exe-btn-ttt {
  display: inline;
  margin: 0 auto 1em auto;
  background-color: #c6726a;
}
.project-element p {
  padding-top: 1em;
}

#resume-wrapper {
  background-color: #FFFFFF;
  border: 1px solid #cccccc;
  font-family: 'Lora', 'Georgia', serif;
  width: 100%;
  padding-bottom: 3em;
}

#resume-wrapper p {
  padding: 0;
}

#resume-wrapper h3 {
  font-family: 'Lato', sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  color: #5a8fcc;
  padding: 0;
}

#resume-contact {
  color: #5a8fcc;
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
}

#resume-contact a {
  color: #5a8fcc;
  text-decoration: none;
}

#resume-contact a:hover {
  text-decoration: underline;

}
#resume-wrapper h4 {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #5a8fcc;
  padding: 2em 0 0.5em 0;
}

#resume-deck {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  color: #5a8fcc;
}

#resume-header {
  padding: 0 6% 0 6%;
}

#resume-body {
  column-width: 300px;
  column-gap: 8ch;
  column-count: 2;
  padding: 0 6% 0 6%;
}

#resume-body ul {
}

#resume-body ul li {
  padding: 0.5rem 0 0.5rem 0;
}

#resume-skills {
  text-align: justify;
  text-justify: distribute;
}

#resume-button-wrapper {
  text-align: left;
  padding: 0 0 1em 6%;
}

#contact p {
  font-family: 'Lato', sans-serif;
  padding-bottom: 0.5em;
}

#contact-message-label {
padding: 0.5em 0 0 0 !important;
}

#contact-form {
  font-size: 1.25rem;
  padding: 0 6% 0 6%;
}


#contact-form label {
  display: inline-block;
  padding: 0.5em 0 0.25em 0;
}

#mailing-list-checkbox {
  display: inline-block;
  position: relative;
  top: -3px;
}

#mailing-list-checkbox-label {
padding: 1.5em 0 !important;
}


/* adjusting the placeholder text color */
::placeholder { /* for most browsers */
  color: #aaaaaa;
  opacity: 1; /* firefox */
}

::-ms-input-placeholder { /* edge */
  color: #aaaaaa;
}
:-ms-input-placeholder { /* IE*/
  color: #aaaaaa;
}



.left {
  float: left;
}

.right {
  float: right;
}

@media screen and (min-width: 740px) {

  #hamburger {
    display: none; 
  } 

  #logo {
    padding: 0.15em 0 0 6%;
  }

  nav {
    display: inline !important;
    padding: 0 6% 0 0;
  }
  header ul {
    display: inline;
    float: right;
    padding-right: 6%;
  }
  header ul li {
    clear: none;
    display: inline;
    float: left; /* prevents reordering of the nav buttons */
    padding: 0 0 0 1.5rem;
  }

  nav a {
    font-size: 1em;
  }
  .btn-break {
    display: block;
  }
  i[class^='fa fa'] {
    font-size: 1.25rem;
    padding: 0;
  } 


  #welcome h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 7rem;
    max-width: 650px;
    margin: 0 auto;
    padding: 15% 0 0 0;
    text-align: center;
  }

  #welcome p {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    max-width: 650px;
    font-size: 2em;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    line-height: 1.25em;
  }


  #resume-button-wrapper {
    text-align: right;
    padding: 0 6% 0 0;
  }

  #resume-education {
    list-style-type: none;
  }

  article {
    text-align: justified;
  }
}


@media (max-height: 800px) {
html, body {
/*min-height: 800px; */
}
}
