/* RESET RULE */
* {
  margin: 0;
  padding: 0;
  border: 0;
}

:focus {
  outline: none;
}


@font-face {
  font-family: 'noto serif';
  src: url('../fonts/noto-serif/noto-serif-regular.ttf');
}

body {
  font-size: 16px;
  background-image: url('../images/backgroundtile.png');
  /* background: linear-gradient(135deg, #6a5acd, #000000); */
}

a {
  color: #00ffff;
  outline: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  font-weight: bold;
}

a:visited {
  color: #ff1493;
}

h1 {
  font-size: 3rem;
  color: #fafafa;
  text-shadow: 0 0 15px #000000; /* added this to help the logo stand out against the background */
}

h2 {
  font-size: 2rem;
  color: #00ffff;
  padding: 0 0 0.5rem 0;
}

p, li {
  font-family: 'Noto Sans';
  font-size: 1rem;
  color: #fbfbfb;
  padding: 0 0 1em 0;
}

#container {
  width: 960px;
  border: solid #ffffff;
  /* leaving the top border blank to avoid gap while scrolling */
  border-width: 0 3px 3px 3px;
  color: #ffffff;
  background-color: #666666;
  font-family: 'Noto Sans';
  margin: auto;
}

header {
  background-image: url('../images/wheel.jpg');
  height: 144px;
  position: fixed;
  width: 960px;
  border-radius: 0 0 50% 50%;
}

nav {
  display: inline;
  float: right;
  padding: 1em;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  outline: none;
}


#logo a {
  text-decoration: none;
  color: #ffffff;
}

aside {
  display: inline;
  float: right;
  width: 300px;
  padding: 40px;
  margin-left: 40px;
  background-color: #483d8b;
  height: 100vh;
  padding-top: 180px;
}

article {
  padding: 40px;
  background-color: #666666;
}

section {
  padding-bottom: 2em;
}

main {
  height: 100vh;
  padding-left: 40px;
  padding-top: 180px;

}

#about {
  height: 100vh;
  padding: 40px;
  padding-top: 180px;
}

#catalog {
  height: 100vh;
  padding: 40px;
  padding-top: 180px;
}


#contact {
  height: 100vh;
  padding: 40px;
  padding-top: 180px;
}


#frisky2020 {
  height: 100vh;
  padding: 40px;
  padding-top: 180px;
}

/* indents the first letter of just the frisky2020 section */
#frisky2020 p:nth-of-type(1)::first-letter {
  font-size: 2em;
}

#frisky2020 p:nth-of-type(5) {
  font-weight: bold;
  text-decoration: underline;
}

#portrait {
  margin: 1em 0 1em 0;
}

#clown-email {
  display: inline;
  float: right;
  margin: 0 1em 0 1em;
}

#clown-president {
  display: inline;
  float: right;
  margin: 0 1em 0 1em;
}

figcaption {
  text-align: center;
}

footer {
  display: block;
  background-color: #333333;
  clear: both;
  width: 920px;
  padding: 20px;
}

#logo {
  display: inline;
  float: left;
  margin: auto;
  padding-left: 40px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  padding-left: 0.5em;
}

#top a {
  text-decoration: none;
  color: #ffffff;
}

#top a:hover {
  text-decoration: underline;
}

#top a:active {
  font-weight: bold;
}

#top a:visited {
  color: #ff1493;
}

.fine-print {
  font-size: 0.75rem;
  padding: 1em 0 0 0;
}

#social-media {
  display: inline;
  float: right;
  font-size: 2em;
  padding-left: 0.5em;
  list-style-type: none;
}

#social-media ul li {
  display: inline;
  list-style-type: none;
}


#social-media a, a:visited {
  color: #ffffff;
}

.hidden {
  visibility: hidden;
  display: none;
}

#contact-form {
  width: 500px;
  margin: 0 100% 0 0;
  background-color: #666666;
  color: #ffffff;
}

label, select, textarea {
display: block;
font-size: 1em;
}

select {
display: block;
font-size: 1em;
margin: 0;
padding: 0;
}

#select-product {
padding: 1em 0 0 0;
}

#comments-label {
padding: 1em 0 0 0;
}

input[type="text"], input[type="email"], input[type="tel"] {
display: block;
margin-bottom: 1em;
padding: 5px;
font-size: 1em;
}

input[type="submit"], input[type="reset"] {
padding: 5px 10px;
margin: 5px;
}

input[type="submit"]:hover, input[type="reset"]:hover {
  background-color: #ffffff;
margin: 5px;
}

#contact-form fieldset {
border: 1px solid #ffffff;
padding: 0 20px 20px 20px;
margin-bottom: 20px;
}

#contact-form legend {
text-align: center;
padding: 10px;
}
