
/* Color Reference:
 * Cool Gray == #E0E1DD
 * Gray == #8E908F
 * Yellow == #FDBB30
 * Cornflower Blue == #59788F
 * Cyan == #7EA294
 * Orange == #D84704

 */


body
{
  font-family: "Verdana", sans-serif;
  background: linear-gradient(to bottom, #000, #59788F);
  height:100%;
}

h1 
{
  font-size: 3em;
  color: #FDBB30;
  font-family: "Verdana", sans-serif;
}

.main9 
{
  width: 1280px;
  height: 800px;
  background: linear-gradient(to bottom, #FFF, #EAEBDB);
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 3em;
  padding-right: 3em;
  background-color: #FFFFFF;
  line-height: 1.75em;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 3px 3px 0 3px #FDBB30;
  /* box-shadow: 0 0 500px 5px #CEB888; */
  text-align: left;
}

.footer
{
  color: #EAEBDB;
  font-size: 0.75em;
  margin-top: 1em;
}

/* unvisited link */
.footer a:link {
  color: #EAEBDB;
}

/* visited link */
.footer a:visited {
  color: #EAEBDB;
}

/* mouse over link */
.footer a:hover {
  color: #EAEBDB;
}

/* selected link */
.footer a:active {
  color: #EAEBDB;
}


#sddm
{	
  padding: 0;
  z-index: 3;
}

#sddm li
{padding: 0;
  list-style: none;
  float: left;
}

/* top buttons */
#sddm li a
{	
  display: block;
  padding: 0.25em;
  margin-right: 1px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 9em;
  background: #FDBB30;
  /* background: linear-gradient(to bottom, #EAEBDB, #FFF); */
  color: #000;
  text-align: center;
  text-decoration: none;
}

/* top buttons when hovering */
#sddm li a:hover
{	
  background: #59788F;
  color: #FFF;
}

/* invisible, but required for menu */
#sddm div
{	position: absolute;
  visibility: hidden;

}

/* drop-down menu */
#sddm div a
{
  position: relative;
  display: block;
  padding: 0.5em;
  border-radius: 0;
  width: auto;
  white-space: nowrap;
  text-align: left;
  text-decoration: none;
  background: #59788F;
  color: #FFF;
  font-size: 1em;

}

/* highlight of drop-down buttons */
#sddm div a:hover
{
  background: #FDBB30;
  color: #000;
  font-size: 1em;
}


header {
  width: 80%;
  margin: auto !important;
}

main {
  width: 80%;
  margin: auto !important;
}

